$dark10: #2a2a2a;
$dark20: #1C1C1C;
$grey: #B0B0B1;
$light-grey: #EFEFEF;
$deep-red: #FD2016;
$light-red: #ff4400;
$green: #00af47;
$white: #ffffff;

$green-whatsApp:#20C863;
$blue-telegran:#2FB3F3;
$purple-viber:#776EE9;